.videoContainer{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.videoCardContainer{
    display: flex;
}
@media screen and (max-width: 1100px){
    .videoContainer{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:550px){
    .videoContainer{
        display: flex;
        flex-direction: column;
    }
}

.VideoCard{
    display: flex;
    flex-direction: column;
}